<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.repository.UserRepository">
    <resultMap id="userMap" type="com.my.domain.User">
        <id property="id" column="uid"/>
        <result property="userName" column="username"/>
        <result property="age" column="age"/>
        <association property="classes" javaType="com.my.domain.Classes">
            <id property="id" column="cid"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <select id="findFullUserById" resultMap="userMap" parameterType="int">
        select u.id uid,u.username username,u.age age, c.id cid, c.name name from t_user u, t_class c where u.cid=c.id and u.id=#{id}
    </select>

    <insert id="insert" parameterType="com.my.domain.User"  useGeneratedKeys="true" keyProperty="id">
        insert into t_user(userName, age) value(#{userName}, #{age})
    </insert>

    <delete id="deleteById"  parameterType="java.lang.Integer">
        delete from t_user where id=#{id}
    </delete>

    <select id="findAll" resultType="com.my.domain.User">
        select * from t_user
    </select>

    <select id="findById" resultType="com.my.domain.User" parameterType="java.lang.Integer">
        select * from t_user where id=#{id}
    </select>

    <select id="findById2" resultType="com.my.domain.User" parameterType="int">
        select * from t_user where id=#{id}
    </select>

    <select id="findByUserAndAge" resultType="com.my.domain.User">
        select * from t_user where username=#{arg0} and age=#{arg1}
    </select>

    <select id="findByUserAndAge2" resultType="com.my.domain.User">
        select * from t_user where username=#{param1} and age=#{param2}
    </select>

    <update id="update" parameterType="com.my.domain.User">
        update t_user
        <set>
            <if test="userName != null">
                username=#{userName},
            </if>
            <if test="age != null">
                age=#{age}
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>
